@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h1, h2, h3, h4, p {
    padding: 0px 0px 0px 16px;
  }

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

h3 {
	font-weight: 600;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}