@import url(colors.css);
@import url(fonts.css);
@import url(forms.css);
@import url(buttons.css);
@import url(overlay.css);


html, body {
  display: flex;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(217deg, rgba(235, 147, 95,.8), rgba(235, 147, 95, 0) 70.71%),
              linear-gradient(127deg, rgba(219, 119, 208,.8), rgba(219, 119, 208,0) 70.71%),
              linear-gradient(336deg, rgba(136, 227, 252,.8), rgba(136, 227, 252,0) 70.71%);
}
  
.container, .container-fluid {
  height: 80%;
  width: 100%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 255, 255, 0.5);
	border-radius: 10px;
  	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 
			0 5px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
}

.col-md-8, .col-md-4, .col-md-6, .col, .col-md-3, .col-md-9, .form-block {
  height: 100%;
  margin: 0;
  position: relative;
}

.nav-panel, .chat-panel {
  height: 100%;
}

.chat-panel {
  background-color: rgb(255, 255, 255, 0.7);
  margin-left: 25%;
  height: 100%;
  position: absolute;
}


.my-chats-list {
  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 0px auto 16px auto;
  overflow-y: auto;
  max-height: 600px;
}


.my-chats {
  width: 100%;
}

.chat-link {
  cursor: pointer;
  padding: 8px;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
}

.chat-link:hover {
  background-color: rgba(0,0,0,0.1);
}

.form-select {
  width: 20%;
  margin: 0;
  padding: 16px;
  cursor: pointer;
}

.ai-switcher {
  height: 56px;
  width: 100%;
  margin: 24px auto auto 24px;
}

.messages {
  height: 70%;
  width: 90%;
  margin: 24px auto;
  overflow-y: auto;
}

.messageDisplay {
  padding: 16px;
  margin: 0;
  min-height: 40px;
  height: auto;
  background-color: #fff;
}

.chat-msg {
  margin-bottom: 0;
  align-items: center;
}

.option-link {
  height: 40px;
}